<h2>{{label}}</h2>

<p>Get that new car quicker.</p>

<form>


  <div class="form-group">
    <label>When do you plan on buying a new car?</label>

    <div class="radio">
      <label>
        {{radio-button value='date' checked=purchaseDate}}
        I have a specific date
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='unsure' checked=purchaseDate}}
        I’m not sure when, I just know I need to start saving
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='6months' checked=purchaseDate}}
        6 Months
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='1year' checked=purchaseDate}}
        1 Year
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='2years' checked=purchaseDate}}
        2 Years
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='5years' checked=purchaseDate}}
        5 Years
      </label>
    </div>
    {{#if isDate}}
      DATE PICKER GOES HERE
    {{/if}}
  </div>

  <div class="form-group">
    <label>How much money do you expect you’ll need?</label>
    {{input type="number" class="form-control" placeholder="3000" value=purchasePrice}}
    <span class="help-block">We recommend a 10-20% down payment. The average down payment is $3,000.</span>
  </div>

  <div class="form-group">
    <label>How much have you saved for this goal already?</label>
    {{input type="number" class="form-control" placeholder="200" value=savings}}
  </div>

  <div class="form-group">
    <div class="btn btn-success" {{action 'save'}}>Continue...</div>
  </div>
</form>