<h2>{{label}}</h2>

<form>
  <div class="form-group">
    <label>When do you plan on buying a new car?</label>

    <div class="radio">
      <label>
        {{radio-button value='date' checked=purchaseDate}}
        I have a specific date
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='unsure' checked=purchaseDate}}
        I’m not sure when, I just know I need to start saving
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='6months' checked=purchaseDate}}
        6 Months
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='1year' checked=purchaseDate}}
        1 Year
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='2years' checked=purchaseDate}}
        2 Years
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='5years' checked=purchaseDate}}
        5 Years
      </label>
    </div>
    {{#if isDate}}
      DATE PICKER GOES HERE
    {{/if}}
  </div>

  <div class="form-group">
    <label>How much money do you expect you’ll need?</label>
    <div class="radio">
      <label>
        {{radio-button value='dontKnow' checked=paymentType}}
        I’m not sure how much I’ll need, I just know I need to start saving
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button value='calculate' checked=paymentType}}
        I know the cost of the car, help me calculate my down payment
      </label>
    </div>
    {{#if calculateDownPayment}}
      {{currency-input class="form-control" placeholder="Cost of the car" unformatted=carCost}}
      {{#if goalAmount}}
        <div class="help-block">
          We recommend a 10-20% down payment. We are setting your goal to {{format-money goalAmount}}
        </div>
      {{/if}}
    {{/if}}
    <div class="radio">
      <label>
        {{radio-button value='knownValue' checked=paymentType}}
        Enter specific value
      </label>
    </div>
    {{#if knownValue}}
      {{currency-input class="form-control" placeholder="Savings Goal" unformatted=goalAmount}}
    {{/if}}
  </div>

  <div class="form-group">
    <label>How much have you saved for this goal already?</label>
    {{currency-input class="form-control" placeholder="amount saved" unformatted=savings}}
  </div>

  <div class="form-group">
    <div class="btn btn-success" {{action 'save'}}>Continue...</div>
  </div>
</form>