<h2>{{label}}</h2>

<form>

  {{#if children}}

    <table class="table">
      <tbody>

        {{#each children}}
          <tr>
            <td>
              {{input type="text" placeholder="Name" value=name class="form-control"}}
            </td>
            <td>
              {{input type="number" placeholder="Age" value=age class="form-control"}}
            </td>
            <td>
              {{currency-input class="form-control" placeholder="savings amount" unformatted=saved}}
            </td>
          </tr>
          {{#if hasSaved}}
              <tr>
                <td colspan="3">
                  <label>Where is the money being saved?</label>
                  {{view Ember.Select
                  content=controller.moneyLocations
                  value=location
                  optionValuePath="contenet.id"
                  optionLabelPath="content.label"
                  class="form-control"
                  }}
                </td>
              </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>

  {{/if}}

  <div class="form-group">
    <div class="btn btn-default" {{action 'addChild'}}>Add Child</div>
  </div>

  <br/>
  <br/>
  <div class="form-group">
    <div class="btn btn-success" {{action 'save'}}>Continue...</div>
  </div>
</form>