<h2>Your Plan</h2>

<p>Get your paycheck allocations setup. You can change this anytime you want.</p>

<div id="plan" class="clearfix">
  <div class="paycheck">
    <div class="salary">$3,000</div>
    paycheck every <b>two weeks</b>
  </div>
  <div class="goal-allocation">
    {{paycheckAllocationPercentage}}% of paycheck towards goals
    {{range-input min="0" max="100" step="0.1" value=paycheckAllocationPercentage}}
    {{currency-input unformatted=paycheckAllocationDollars}}
  </div>

  <div class="short-term">
    Short term goals
    {{shortTermPercentage}}%
    {{range-input min="0" max="100" step="0.1" value=shortTermPercentage}}
    {{currency-input unformatted=shortTermDollars}}

    <br/>
    <br/>
    Car Purchase
  </div>

  <div class="long-term">
    Long term goals
    {{longTermPercentage}}%
    {{range-input min="0" max="100" step="0.1" value=longTermPercentage}}
    {{currency-input unformatted=longTermDollars}}

    <br/>
    <br/>
    Tim College
    <br/>

    Samantha College

  </div>

  <div class="retirement">
    Saving for retirement

    {{retirementPercentage}}%
    {{range-input min="0" max="100" step="0.1" value=retirementPercentage}}
    {{currency-input unformatted=retirementDollars}}

    <br/>
    <br/>

    401k Account
  </div>


</div>

{{#link-to 'setup.account'}}<div class="btn btn-success">Save</div>{{/link-to}}