<h2>Your Plan</h2>

<p>Get your paycheck allocations setup. You can change this anytime you want.</p>

<div id="plan" class="clearfix">
  <div class="paycheck">
    <div class="salary">$3,000</div>
    paycheck every <b>two weeks</b>
  </div>
  <div class="goal-allocation">
    {{paycheckAllocationPercentage}}% of paycheck towards goals
    {{range-input min="0" max="100" step="0.1" value=paycheckAllocationPercentage}}
    {{currency-input unformatted=paycheckAllocationDollars}}

    {{#if tooLowAllocation}}
      <br/>
      <br/>
      We know budgets are tight and saving can be hard. But we think you need to save more to accomplish your financial goals. How about you ease into it? Would you mind if we automatically raised your contributions it by $5.50 every two weeks for a year?
      <br/>
      <br/>
      <div class="btn btn-primary">Yes, set up small automatic increases</div>
      <div class="btn btn-default">No thanks</div>
    {{/if}}

  </div>

  <div class="short-term">
    Short term goals
    {{shortTermPercentage}}%
    {{range-input min="0" max="100" step="0.1" value=shortTermPercentage}}
    {{currency-input unformatted=shortTermDollars}}

    <br/>
    <br/>
    <div class="savings-item">
      <div class="title">Car Purchase in 2015</div>
      <div class="details">$0 saved / $3,000 needed</div>
      <div class="savings">
        <span class="amount">{{format-money shortTermDollars}}</span> / paycheck
      </div>
    </div>
  </div>

  <div class="long-term">
    Long term goals
    {{longTermPercentage}}%
    {{range-input min="0" max="100" step="0.1" value=longTermPercentage}}
    {{currency-input unformatted=longTermDollars}}

    <br/>
    <br/>

    <div class="savings-item tim">
      <div class="title">College for Tim in 2015</div>
      {{range-input min="0" max="100" step="0.1" value=timPercentage}}
      <div class="details">$20,000 saved / $24,000 needed</div>
      <div class="savings">
        <span class="amount">{{format-money timDollars}}</span> / paycheck
      </div>
    </div>

    <div class="savings-item samantha">
      <div class="title">College for Samantha in 2023</div>
      {{range-input min="0" max="100" step="0.1" value=samanthaPercentage}}
      <div class="details">$500 saved / $27,000 needed</div>
      <div class="savings">
        <span class="amount">{{format-money samanthaDollars}}</span> / paycheck
      </div>
    </div>

  </div>

  <div class="retirement">
    Saving for retirement

    {{retirementPercentage}}%
    {{range-input min="0" max="100" step="0.1" value=retirementPercentage}}
    {{currency-input unformatted=retirementDollars}}

    {{#if warnTooLowRetirement}}
      <br/>
      <br/>
      <div class="bg-danger">
        We noticed that you’ve lowered your retirement savings to the point where you’re not maximizing your employer match. Employer matches are free money! We strongly recommend you save at least enough to maximize the amount of free money you get from your employer.
      </div>
    {{/if}}
  </div>


</div>

{{#link-to 'setup.account-short-term'}}<div class="btn btn-success">Save</div>{{/link-to}}