<div class="row">
  <div class="col-sm-4">
    {{#if error}}
      <div class="bg-danger">
        {{error}}
      </div>
      <br/>
    {{/if}}

    <form {{action 'register' on='submit'}}>
      <div class="form-group">
        {{input type="email" value=email placeholder="ryan@example.com" class="form-control"}}
      </div>
      <div class="form-group">
        {{input type="password" value=password placeholder="password" class="form-control"}}
      </div>
      <div class="form-group">
        {{input type="submit" value="Register" class="btn btn-primary" disabled=isProcessing}}
      </div>
    </form>
  </div>
</div>

<p>Already have an account? {{#link-to 'login'}}Login{{/link-to}}</p>