<div class="steps clearfix">
  <div {{bind-attr class=":step stepIdentity:active"}}>
    <div class="number">1</div>
    Account Verification
  </div>
  <div {{bind-attr class=":step stepGoals:active"}}>
    <div class="number">2</div>
    Your Goals
  </div>
  <div {{bind-attr class=":step stepPlan:active"}}>
    <div class="number">3</div>
    Your Plan
  </div>
  <div {{bind-attr class=":step stepOpenAccount:active"}}>
    <div class="number">4</div>
    Open the Account
  </div>
</div>

{{outlet}}